---
import { Icon } from 'astro-icon/components';
---

<a class="section-title inline-flex items-center hover:underline" href="/creations">
  Creations
  <Icon name="pixelarticons:open" class="ml-2" />
</a>
<p class="mt-4 mb-8 font-mono dark:text-white">
  Find out what I built last (and probably failed at).
</p>
