---
import { header } from '../lib/config';
---

<header class="py-48 text-center">
  <h1
    id="hero-name"
    class="group relative inline-block text-4xl font-extralight select-none sm:text-6xl dark:text-white"
  >
    <b
      class="inline-block transform font-extrabold transition-transform duration-300 group-hover:translate-x-10 group-hover:-translate-y-20 group-hover:scale-50 group-hover:rotate-45 motion-reduce:transition-none motion-reduce:hover:transform-none md:group-hover:translate-x-40 md:group-hover:scale-25"
    >
      {header.firstName}
    </b>
    <br />
    {header.lastName}
    <p
      class="absolute inset-x-0 top-4 hidden font-mono text-lg font-bold text-red-500 group-hover:block"
    >
      {header.easterText}
    </p>
  </h1>
  <h2 class="mt-8 font-mono text-lg font-light text-gray-800 sm:text-xl dark:text-gray-200">
    {header.jobTitle}
  </h2>
</header>

<script>
  const el = document.getElementById('hero-name');
  el?.addEventListener('click', (e) => {
    if (!matchMedia('(hover: hover)').matches) {
      e.preventDefault();
      el.classList.toggle('hover');
    }
  });
  document.addEventListener('click', (e) => {
    if (!el?.contains(e.target as Node)) {
      el?.classList.remove('hover');
    }
  });
</script>

<style>
  #hero-name.hover > b {
    rotate: 45deg;
    translate: 2.5rem -5rem;
    scale: 0.5;
  }
  @media (min-width: 768px) {
    #hero-name.hover > b {
      translate: 10rem -5rem;
      scale: 0.25;
    }
  }
  #hero-name.hover > p {
    display: block;
  }
</style>
