---
const iframeDefaultProps = {
  width: '100%',
  height: '80',
  frameBorder: '0',
  allowtransparency: 'true',
  allow: 'encrypted-media',
};
---

<h2 class="section-title">Playlists</h2>
<div class="mt-4 mb-8 flex flex-col justify-between sm:flex-row lg:flex-col">
  <iframe
    title="Metal spotify playlist"
    src="https://open.spotify.com/embed/playlist/5U3TbOPUeBSwAwIs6RF76j"
    class="mb-6 max-w-lg flex-grow sm:mr-6 sm:mb-0 lg:mr-0 lg:mb-6"
    loading="lazy"
    {...iframeDefaultProps}></iframe>
  <iframe
    title="ZeroToHund spotify playlist"
    src="https://open.spotify.com/embed/playlist/54OLgLlkPKD70bTf2nt24w"
    class="max-w-lg flex-grow"
    loading="lazy"
    {...iframeDefaultProps}></iframe>
</div>
