---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/CreationsLayout.astro';
import CreationItem from '../../components/CreationItem.astro';

const creations = await getCollection('creations');
---

<Layout title="Creations">
  <section class="p-8">
    <p class="mb-8 font-extralight italic">
      Stuff in this list is NOT related to places I worked in.
    </p>
    <ul class="grid gap-8 md:grid-cols-2">
      {
        creations
          .sort(({ data: { date: a } }, { data: { date: b } }) => b - a)
          .map(({ data: creation }, i) => <CreationItem {...creation} i={creations.length - i} />)
      }
    </ul>
  </section>
</Layout>
